<div class="day-card-list">
	<% @days.each do |day| %>
		<div class="day-card <%= day_state(day) %> <%= day_view(day) %> padded" style="z-index: <%= day_order(day) %> ">
			<div class="day-card-collapsed row">
				<h2 class="inline"> Day <%= day.human_day_number %> </h2>
			</div>
			<div class= "day-card-expanded">
				<div class="day-card-header row">
					<h1 class="inline">Journey</h1>
					<h2 class="inline">- Ryan and Sarah</h2>
					<p class="inline">Go to China...</p>
				</div>
				<div class="day-card-body row">
					<h2 class="inline">Day <%= day.human_day_number %></h2>
					<p> <%= day.human_date %> </p>
					<p> <%= day_locations(day) %></p>
				</div>
			</div>
		</div>
	<% end %>
</div>

