<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Journey</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <div class="two thirds">
        <a href="<%= root_path %>"><h1>Journey</h1></a>
      </div>
      <div class="one thrid">
        <a href="">
          <i class="icon-twitter icon-2x pull-right pad-right"></i>
        </a>
        <a href="">
          <i class="icon-envelope icon-2x pull-right pad-right"></i>
        </a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
